{% extends 'home.html' %}
{% load static %}
{% block content %}

<div class="navbar navbar-default" align="center">
        <div class="row" >
          <div class="col-md-push-6" class="navbar-brand">
              <H2 >Выберите одно из наименований</H2>
          </div>
        </div>
    </div>




<div>
    <form action="select" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Submit" >
    </form>
    </form>
</div>
{% endblock %}