{% extends 'home.html' %}
{% load static %}
{% block content %}

    <div class="navbar navbar-default" align="center">
        <div class="row">
            <div class="col-md-push-6" class="navbar-brand">
                <H2>удаление элементов</H2>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4" align="center">документы</div>
        <div class="col-md-4" align="center">техника</div>
        <div class="col-md-4" align="center">техническое описание</div>
    </div>

    <div class="row">
        {#        <form action="data_del/{{ form.element }}" method="POST">#}
        <form action="{% url "datadel" ide=12 %}" method="get">
            {% csrf_token %}
            <div class="col-md-4" align="center">{{ form.element }}</div>
            <div class="col-md-4" align="center">{{ form.element1 }}</div>
            <div class="col-md-4" align="center">{{ form.element0 }}</div>
            <div class="col-md-4" align="center">
                <h3> {{ formm }}</h3>

                <input type="submit" value="Выбрать">
            </div>
        </form>
    </div>

    {#        <div>#}
    {#        {% for formmm in formm %}#}
    {#        <h1> <tr>{{ formmm.id }}</tr>#}
    {#            <tr>{{ formmm.product_number }}</tr>#}
    {#            <tr>{{ formmm.ser_name }}</tr>#}
    {#            <tr>{{ formmm.data_invoice }}<tr>#}
    {#        </h1>#}


    {##}
    {#    {% endfor %}#}
    </div>
{% endblock %}