{% extends 'home.html' %}
{% load static %}
{% block content %}

    <div class="navbar navbar-default" align="center">
        <div class="row">
            <div class="col-md-push-6" class="navbar-brand">
                <H2>удаление элементов</H2>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4" align="center">документы</div>
        <div class="col-md-4" align="center">техника</div>
        <div class="col-md-4" align="center">техническое описание</div>
    </div>

    <div class="row">
        {#        <form action="data_del/{{ form.element }}" method="POST">#}
        <form action="{% url "datadel" %}" method="get">
            {% csrf_token %}
            <div class="col-md-4" align="center">{{ form.element }}</div>
            <div class="col-md-4" align="center">{{ form.tech_name__tech_n }}</div>
            <div class="col-md-4" align="center">{{ form.opis_name__opis_n }}</div>
            <div class="col-md-4" align="center">
                <input type="submit" value="Выбрать">
            </div>
        </form>
    </div>

{% endblock %}