{% extends 'home.html' %}
{% load static %}
{% block content %}

    <div class="navbar navbar-default" align="center">
        <div class="row">
            <div class="col-md-push-6" class="navbar-brand">
                <H2>внешний вид</H2>
            </div>
        </div>
    </div>


    <div class="navbar navbar-default" align="centr">
        <div class="navbar-brand" align="down">
            <div class="row">

                <H4> {{ dannie }} </H4>
            </div>
        </div>
    </div>



    <p></p>
{% endblock %}